*.svn
*obj/
*Properties/
*.psd
/userfiles
*templates_c

node_modules
.tmp
.sass-cache

# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
*nbprojects
*nbproject
Thumbs.db

*.sublime-project
*.sublime-workspace
